---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About Me defaut image"
	pubDate={new Date('August 19 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		I am Bernard, a software developer, sharing my experience, and my process of learning rust.
	</p>
</Layout>
