---
import Layout from '../layouts/ProjectsLayout.astro';
---

<Layout
	title="Projetos"
	description="Projetos"
	pubDate={new Date('August 19 2024')}
>
	<div class="projects-container">
		<div class="project-item">
			<h2>Projeto 1</h2>
			<p>Descrição do projeto 1</p>
		</div>
		<div class="project-item">
			<h2>Projeto 2</h2>
			<p>Descrição do projeto 2</p>
		</div>
	</div>
</Layout>
